* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, li {
    text-decoration: none;
    list-style: none;
}

body {
    position: relative;
    overflow-x: hidden;
    font-family: var(--monts);
    background-color: #0F0E0E
}

:root {
    --monts: 'Montserrat', sans-serif;
}

#city-name {
    font-size: 2.5em;
    color: white;
    letter-spacing: 2px;
    font-weight: 400;
}

h1 {
    font-size: 3em;
    color: white;
    letter-spacing: 2px;
    font-weight: 500;
}

#condition {
    font-size: 2em;
    color: white;
    letter-spacing: 2px;
    font-weight: 400;
}

/**** CONTENT SECTION ****/
#content-section {
    width: 100%;
    border: 2px solid white;
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.inp-btn {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

#cityInputField {
    padding: 11px 12px;
    border: 0 solid transparent;
    border-radius: 5px;
    width: 350px;
    font-size: 1.5em;
    letter-spacing: 2px;
}

#subbtn {
    padding: 0 1rem;
    font-size: 1.3em;
    border: 0 solid transparent;
    border-radius: 5px;
    letter-spacing: 2px;
    background-color: dodgerblue;
    font-weight: 400;
    color: white;
}

#WeaherDets {
    color: honeydew
}



/**** CONTENT SECTION ****/